@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Inicio do css da sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #810425;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo_content .logo_book {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo_book {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo_book i {
    font-size: 28px;
    margin-right: 5px;

}

.logo_content .logo_book .logo_name {
    font-size: 28px;
    font-weight: 400;

}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 40%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;

}

.sidebar ul {
    margin-top: 20px;

}

.sidebar ul li {
    position: relative;
    right: 11px;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    font-size: 22px;
}

.sidebar ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 150px;
    left: 147px;
    top: 0%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    font-size: 18px;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    height: 95%;
    width: 95%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #91052b;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover {
    background: #fff;
    color: #11101d;
}


.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;

}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;

}

.sidebar .links_game {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

}

.sidebar.active .links_game {
    opacity: 1;
    pointer-events: auto;

}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;

}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #91052b;

}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 20px;

}

.profile .profile_details .name_job {
    margin-left: 10px;

}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50px);
    min-width: 50px;
    line-height: 50px;
    font-size: 22px;
    border-radius: 12px;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;

}

.home_content .panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.infos {
    grid-area: 1 / 1 / 2 / 6;
    height: 60%;
    width: 100%;
}

.icons {
    position: relative;
    border: solid;
    border-width: 2px;
    border-color: rgb(233, 233, 233);
    border-radius: 5px;
    top: 20px;
    left: 50px;
    color: rgb(160, 160, 160);
    width: 17%;
    height: 40%;
    text-align: center;
    display: inline-block;
}

.bx-left-arrow-alt {
    position: relative;
    right: 24px;
    width: 40px;
    height: 37px;
    font-size: 27px;
    border-right: solid;
    border-color: rgb(233, 233, 233);
    border-width: 2px;
    text-align: center;

}

.bx-right-arrow-alt {
    position: relative;
    left: 24px;
    width: 40px;
    height: 37px;
    font-size: 27px;
    border-left: solid;
    border-color: rgb(233, 233, 233);
    border-width: 2px;
    text-align: center;
}

.bx-calendar {
    position: relative;
    top: 3px;
    right: 27px;
    font-size: 25px;
}

.dates {
    position: relative;
    right: 10px;
    bottom: 3px;
    font-size: 15px;
}

.calendar {
    position: relative;
    bottom: 145px;
    height: 131%;
    background-color: blueviolet;
    grid-area: 3 / 1 / 6 / 6;
}

#schedule {
    position: relative;
    left: 980px;
    top: 23px;
    border: none;
    border-radius: 5px;
    padding: 11px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    background-color: #cc0338;
    font-size: large;

}

.days-name {
    position: relative;
    bottom: 65px;
    background-color: aqua;
    grid-area: 2 / 1 / 3 / 6;
    height: 50%;
}



.sidebar.active~.home_content {
    width: calc(100% - 260px);
    left: 260px;
}

/* Fim do css da sidebar */

/* Inicio do css do conteudo index */