@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: 'Sora', sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.panel {
    position: relative;
    margin: 0%;
    top: 50px;
    left: 40px;
    background-color: white;
    height: 85vh;
    width: 95%;
    display: flex;
    justify-content: right;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 2 / 1 / 5 / 3;
    
}

.div1 .titulo {
    /* font-family: 'Encode Sans'; */
    font-size: 65px;
    letter-spacing: 1px;
    position: relative;
    top: 100px;
    left: 50px;
    font-weight: bold;
}

.div1 p {
    /* font-family: 'Sora'; */
    font-size: 15px;
    color: rgb(163, 163, 163);
    position: relative;
    top: 105px;
    left: 70px;
    font-weight: bold;

}

.div1P-2{
    position: relative;
    left: 80px;
}

.div1 .btn-saibaMias {
    /* font-family: Sora; */
    background-color: red;
    border: none;
    border-radius: 25px;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: 150px;
    left: 300px;
    
}

.div1 .btn-saibaMias a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.div2 {
    grid-area: 2 / 3 / 6 / 6;
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 {
    grid-area: 1 / 4 / 2 / 6;
}

img{
    position: relative;
    bottom: 15%;
    width: 100%;
    height: 100%;
    
}

