{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e0e6cbd827.js" crossorigin="anonymous"></script>
    <title>Sing in Sing Up Form</title>
    <link rel="stylesheet" href="{% static '/schedules/css/cadastro.css' %}">
</head>
<body>
    <div class="container sign-up-mode">
        <div class="form-container">
            <div class="singin-signup">
                <div class="forms-container">
                    <div class="invalid_feedback invalid_feedback" style="display:none">
                    </div>
                    <div class="signin-signup">
                        <!--Inicio do formulario de Registro-->
                        <a name="form-anchor"></a>
                        <form id="form-cadastro" action="{% url 'validar_cadastro' %}" method="POST" class="sign-up-form">
                            {% csrf_token %}
                            <h2 id="success"></h2>
                            <h2 class="title">Criar uma nova conta</h2>
                            <div class="input-field register">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nome" id="nome" name="nome">
                            </div>
                            <div class="input-field register" id="erro_matricula">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <input class="Matricula_Cadastro" type="text" placeholder="Matricula" id="username"
                                    name="username">
                            </div>
                            <div class="input-field register">
                                <i class="fas fa-envelope"></i>
                                <input class="Email_Cadastro" type="text" placeholder="Email" id="email" name="email">
                            </div>
                            <div class="input-field register">
                                <i class="fas fa-lock"></i>
                                <input class="Senha_Cadastro" type="password" placeholder="Senha" id="senha"
                                    name="senha">
                                <i class="fas fa-eye" id="eye-cadastro"></i>
                            </div>
                            <input type="submit" value="Cadastrar" id="btn_cadastro" class="btn solid">
                        </form>
                        <!--Fim do formulario de Registro-->
                    </div>
                </div>
                <div class="panels-container"></div>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel right-panel">
                <div class="content">
                    <h3>Já é um dos nossos ?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quae exercitationem quia eaque,
                        quisquam labore consectetur qui voluptate placeat magni eum non accusantium, mollitia nulla,
                        odit minima autem rerum rem?</p>
                    <button class="btn trasnparent" id="sign-in-btn"><a href="/auth/login/">Faça Login</a></button>
                </div>
                <img src="{% static 'schedules/img/register.svg' %}" class="image" alt="">
            </div>
        </div>
    </div>
    <script src="{% static 'schedules/js/app.js' %}"></script>
</body>

</html>