{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos Nic</title>
  <link rel="stylesheet" href="{% static '/schedules/css/scheduling.css'%}">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body">
  <header>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo_book">
          <i class='bx bxs-book-alt'></i>
          <div class="logo_name">NIC</div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav_list">
        <li>

          <i class='bx bx-search'></i>
          <input type="text" placeholder="Procurar....">

          <span class="tooltip">Procurar</span>
        </li>
        <li>
          <a href="calendario/">
            <i class='bx bxs-calendar'></i>
            <span class="links_game">Agendamentos</span>
          </a>
          <span class="tooltip">Agendamentos</span>
        </li>
        <li>
          <a href="perfil/">
            <i class='bx bx-user'></i>
            <span class="links_game">Perfil</span>
          </a>
          <span class="tooltip">Perfil</span>

        </li>
        <li>
          <a href="">
            <i class='bx bx-chat'></i>
            <span class="links_game">Menssagens</span>
          </a>
          <span class="tooltip">Menssagens</span>

        </li>

        <li>
          <a href="">
            <i class='bx bxs-dashboard'></i>
            <span class="links_game">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>

        </li>

        <li>
          <a href="">
            <i class='bx bx-calendar-exclamation'></i>
            <span class="links_game">Sobre</span>
          </a>
          <span class="tooltip">Sobre</span>

        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="{% static '/schedules/img/profile.jpg' %}" alt="">
            <div class="name_job">
              <div class="name">Teste</div>
              <div class="job">Test</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"></i>
        </div>
      </div>
    </div>
    <div>
      <div class="home_content">
        <div class="container">
          <div class="card">
            <div class="imgBx" style="background-image: url('{% static '/schedules/img/renata.jpg' %}'),linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
            background-size: cover;
            background-position: 50%;
            background-position-y: 1px;
            background-repeat: no-repeat;">
            </div>
            <div class="content">
              <div class="details">
                <h2>Renata Santana <br><span>Professora/Pedagoga</span></h2>
                <div class="dados">
                  <h3>100<br><span>Exex</span></h3>
                  <h3>100<br><span>Exex</span></h3>
                  <h3>100<br><span>Exex</span></h3>
                </div>
                <div class="actionBtn">
                  <button>Marcar</button>
                  <button id="mes">Menssagen</button>
                </div>
              </div>
              
            </div>
          </div>
          <div id="rogerio" class="card">
            <div class="imgBx" style="background-image: url('{% static '/schedules/img/rogerio.png' %}'),linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
            background-size: cover;
            background-position: 50%;
            background-position-y: 1px;
            background-repeat: no-repeat;">
            </div>
            <div class="content">
              <div class="details">
                <h2>Renata Santana <br><span>Professora/Pedagoga</span></h2>
                <div class="dados">
                  <h3>100<br><span>Exex</span></h3>
                  <h3>100<br><span>Exex</span></h3>
                  <h3>100<br><span>Exex</span></h3>
                </div>
                <div class="actionBtn">
                  <button>Marcar</button>
                  <button id="mes">Menssagen</button>
                </div>
              </div>
              
            </div>
          </div>
        </div>

      </div>
    </div>

  </header>
  <main>
  </main>
  <script src="{% static '/schedules/js/index.js' %}"></script>
  </body>

</html>