{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'schedules/css/landing.css' %}">
</head>
<body style = "background-image: url('static/schedules/img/Slide2.PNG');" >
    <div class="container">
        <div class="panel">
            <div class="div1">
                <span class="titulo" style="color: #800000;" >Agendamento</span> <span class="titulo" style="color: red;"> NIC</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis</p>
                <p class="div1P-2">temporibus, repudiandae ipsum cum distinctio p odio dolorum porro non, unde nesciunt consequatur deleniti minus sequi et praesentium fuga alias cupiditate. </p>
                <button class="btn-saibaMias"><a href="auth/login/">Saiba mais</a></button>
            </div>
            <div class="div2">
                <img src="{% static '/schedules/img/pana.svg' %}" alt="">
            </div>
        </div>
    </div>
</body>
</html>