{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'schedules/css/loginRequest.css' %}">
</head>
<body>
    <div class="cotainer">
        <div class="img">
            <img src="{% static '/schedules/img/Taken.svg' %}" alt="">
            <h1>Whoops! Perdido no Espaço ?</h1>
            <p>Para ter acesso a esse conteudo, você precisa ter criado uma conta em nosso site.</p>
            <p> Clique no botão abaixo para poder se cadastrar</p>
            <button><a href="/auth/cadastro/">Cadastrar</a></button>
        </div>
    </div>
</body>
</html>