{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e0e6cbd827.js" crossorigin="anonymous"></script>
    <title>Sing in Sing Up Form</title>
    <link rel="stylesheet" href="{% static '/schedules/css/style.css' %}">

</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="singin-signup">
                <div class="forms-container">
                    <div class="invalid_feedback invalid_feedback" style="display:none">
                        <h2 id="success"></h2>
                    </div>
                    <div class="signin-signup">
                        <!--Inicio do formulario de Login-->
                        <form action="{% url 'validar_login' %}" method = "POST" class="sign-in-form">{% csrf_token %}
                            <h2 class="title">Entrar no NIC </h2>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Matricula" name = "username">
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Senha" name = "senha" id="senha-login">
                                <i class="fas fa-eye" id="eye-login"></i>
                            </div>
                            <input type="submit" value="Login" class="btn solid">
                            {% comment %} <p class="social-text">Ou você pode fazer login via</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div> {% endcomment %}
                        </form>
                        <!--Fim do formulario de Login-->
                        <!---->
                        <!--Inicio do formulario de Registro-->
                        <a name="form-anchor"></a>
                        
                        <form id="form-cadastro"  class="sign-up-form">
                            {% csrf_token %}
                            
                            <h2 class="title">Criar uma nova conta</h2>
                            <div class="input-field register">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nome" id="nome" name = "nome">
                            </div>
                            <div class="input-field register" id="erro_matricula">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <input class="Matricula_Cadastro" type="text" placeholder="Matricula" id="username" name = "username">
                            </div>
                            <div class="input-field register" >
                                <i class="fas fa-envelope"></i>
                                <input class="Email_Cadastro" type="text" placeholder="Email" id="email" name = "email">
                            </div>
                            <div class="input-field register">
                                <i class="fas fa-lock"></i>
                                <input class="Senha_Cadastro" type="password" placeholder="Senha" id="senha" name = "senha">
                                <i class="fas fa-eye" id="eye-cadastro"></i>
                            </div>
                            <input type="submit" value="Cadastrar" id="btn_cadastro" class="btn solid">
                            {% comment %} <p class="social-text">Ou use uma outra conta</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div> {% endcomment %}
                        </form>
                        <!--Fim do formulario de Registro-->
                    </div>
                </div>

                <div class="panels-container"></div>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Novo Aqui ?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quae exercitationem quia eaque, quisquam labore consectetur qui voluptate placeat magni eum non accusantium, mollitia nulla, odit minima autem rerum rem?</p>
                    <button  class="btn trasnparent"  id="sign-up-btn">Cadastra-se</button>
                </div>
                <img src="{% static 'schedules/img/login.svg' %}" class="image" alt="">
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>Já é um dos nossos ?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quae exercitationem quia eaque, quisquam labore consectetur qui voluptate placeat magni eum non accusantium, mollitia nulla, odit minima autem rerum rem?</p>
                    <button class="btn trasnparent" id="sign-in-btn">Faça o Login</button>
                </div>
                <img src="{% static 'schedules/img/register.svg' %}" class="image" alt="">
            </div>
        </div>
    </div>
    <script src="{% static 'schedules/js/app.js' %}"></script>
    <script type="text/javascript">
        $(document).on('submit', '#form-cadastro', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'validar_cadastro' %}',
                data:{
                    nome:$('#nome').val(),
                    username:$('#username').val(),
                    email:$('#email').val(),
                    senha:$('#senha').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    
                    $('#success').html(data);
                    },
                })
        });
    </script>
    
</body>
</html>