{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos Nic</title>
    <link rel="stylesheet" href="{% static '/schedules/css/sobre.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo_book">
                    <i class='bx bxs-book-alt'></i>
                    <div class="logo_name">NIC</div>
                </div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav_list">
                <li>

                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Procurar....">

                    <span class="tooltip">Procurar</span>
                </li>
                <li>
                    <a href="/auth/index/calendario/">
                        <i class='bx bxs-calendar'></i>
                        <span class="links_game">Agendamentos</span>
                    </a>
                    <span class="tooltip">Agendamentos</span>
                </li>
                <li>
                    <a href="/auth/index/perfil/">
                        <i class='bx bx-user'></i>
                        <span class="links_game">Perfil</span>
                    </a>
                    <span class="tooltip">Perfil</span>

                </li>
                <li>
                    <a href="">
                        <i class='bx bx-chat'></i>
                        <span class="links_game">Menssagens</span>
                    </a>
                    <span class="tooltip">Menssagens</span>

                </li>

                <li>
                    <a href="">
                        <i class='bx bxs-dashboard'></i>
                        <span class="links_game">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>

                </li>

                <li>
                    <a href="">
                        <i class='bx bx-calendar-exclamation'></i>
                        <span class="links_game">Sobre</span>
                    </a>
                    <span class="tooltip">Sobre</span>

                </li>
            </ul>
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="{% static '/schedules/img/profile.jpg' %}" alt="">
                        <div class="name_job">
                            {% if user.is_authenticated %}
                            <div class="name">{{ Usuario.get_username }}</div>
                            <div class="job">Aluno</div>
                            {% endif %}
                        </div>
                    </div>
                    <i class='bx bx-log-out' id="log_out"></i>
                </div>
            </div>
        </div>

        <div class="home_content">
            <div class="header">
                <!--Content before waves-->
                <div class="inner-header flex">
                    <h3>O que é o NIC ? </h3>
                </div>
                <!--Waves Container-->
                <div>

                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave"
                                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                        </defs>
                        <g class="parallax">
                            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                        </g>
                    </svg>

                </div>
                <!--Waves end-->
            </div>
            <!--Header ends-->
            <!--Content starts-->
            <div class="content flex">
                <img src="{% static '/schedules/img/hero.svg' %}" alt="">
            </div>
            <!--Content ends-->
            <div class="container-main">
                <div class="panel3">
                    <h2 class="title">PEDAGOGIA INACIANA</h2>
                    <h2 class="sub-title">Como Funciona ?</h2>

                    <div class="panel3-form">
                        <img class="img-ped" src="{% static '/schedules/img/Audiobook-bro.svg' %}" alt="">
                        <h3>Obejetivo:</h3>
                        <p>A pedagogia Inaciana visa a formação integral do indivíduo, não só na parte acadêmica como
                            também no desenvolvimento humano e social.</p>
                    </div>

                    <div class="panel3-form2">
                        <img class="img-ped1" src="{% static '/schedules/img/Processing-pana.svg' %}" alt="">
                        <h3>Metodologia:</h3>
                        <p>Em sua metodologia, desenvolve um processo personalizado de pesquisa e construção do
                            conhecimento, no qual o estudante, com iniciativa própria, busca aprender e se atualizar de
                            forma independente e criativa.</p>

                    </div>

                </div>

            </div>
            <div class="container_time">
                <div class="panel4">
                    <div class="panel4-form">
                        <img class="img-ped" src="{% static '/schedules/img/Exams-bro.svg' %}" alt="">
                        <h3>Como é feita a avaliação:</h3>
                        <p>Na prática desta metodologia de ensino, os educadores observam as diversas habilidades
                            trabalhadas e desenvolvidas ao longo de todo o curso, promovendo a qualificação integral,
                            buscando um currículo que faça sentido e dê sabor às suas vidas.</p>
                    </div>
                    <div class="panel4-form2">
                        <img class="img-ped" src="{% static '/schedules/img/Graduation-bro.svg' %}" alt="">
                        <h3>Como ela se diferencia:</h3>
                        <p>Pedagogia Inaciana se diferencia na medida que visa formar pessoas que consigam enxergar no
                            mundo uma possibilidade de mudança e transformação, preocupados com o meio ambiente e
                            empáticos aos mais necessitados e aos que sofrem.</p>
                    </div>
                    <!-- <img class="img-ped" src="{% static '/schedules/img/professora.jpg' %}" alt=""> -->
                </div>

            </div>
            <div class="panel5">
                <h2>Conheça o nosso time</h2>
                <div class="center">
                    <div class="info-prof">

                        <div class="info-renata">
                            <img src="{% static '/schedules/img/Renata-info.png' %}" alt="">
                        </div>
                        <div class="text-renata">
                            <h4>Renata Santata</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus eius nostrum
                                quia enim eaque facilis sit qui molestias nobis! Tenetur officia maxime repudiandae
                                culpa laborum voluptatem incidunt voluptas consequuntur?</p>
                        </div>
                        <div class="info-rogerio">
                            <h4>Rogério Vieira</h4>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam totam doloremque voluptatem
                            velit debitis laborum rem dignissimos ipsum voluptate quia? Harum officia sit culpa
                            similique enim non laborum molestiae quam?

                        </div>
                        <div class="text-rogerio">
                            <img src="{% static '/schedules/img/Rogerioinfo.png' %}" alt="">
                        </div>

                    </div>

                </div>

            </div>

            <div class="footer">
                <div class="contato">
                    <div class="infos">
                        <ul>
                            <li>
                                <h2>Info</h2>
                            </li>
                            <li class="icons-infos">
                                <i class='bx bx-envelope'></i>
                                <p>nic@emge.edu.br</p>

                            </li>
                            <li class="icons-infos">
                                <i class='bx bx-phone'></i></i>
                                <p>(31) 2125-8865</p>

                            </li>
                            <li class="icons-infos">
                                <i class='bx bx-buildings'></i>
                                <p>R. Álvares Maciel, 628</p>
                            </li>
                            <li class="icons-infos">
                                <i class='bx bx-time'></i>
                                <p>Horario de atendimento</p>
                            </li>
                        </ul>
                        <div class="efeito">

                        </div>

                    </div>
                    <div class="collum">

                    </div>
                </div>
                <div class="panel_contato">
                    <form action="{% url 'sobre_email' %}" method="post">{%csrf_token%}
                        <div class="painels">
                            <h2>Contact Us</h2>
                            <p>Sinta-se livre para entrar em contato com a gente a qualquer hora. Iremos respoder assim
                                que possivel!</p>
                            <ul>
                                <li>

                                    <Input placeholder="Nome" name="name"></Input>
                                </li>
                                <li>

                                    <Input placeholder="Email" name="email"></Input>

                                </li>
                                <li>

                                    <Input placeholder="Menssagem" name="message"></Input>
                                </li>
                                <li>
                                    <button>Enviar</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </header>
    <script src="{% static '/schedules/js/index.js' %}"></script>

</body>

</html>